<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body>
	<div th:replace="common/header :: navbar" />

	<div class="container">
		<div class="row">
			<!-- carousel -->
			<div class="col-xs-8">
				<div class="panel panel-default">
					<div class="panel-body">
						<div id="carousel-example-generic" class="carousel slide"
							data-ride="carousel">
							<!-- Indicators -->
							<ol class="carousel-indicators">
								<li data-target="#carousel-example-generic" data-slide-to="0"
									class="active"></li>
								<li data-target="#carousel-example-generic" data-slide-to="1"></li>
								<li data-target="#carousel-example-generic" data-slide-to="2"></li>
							</ol>

							<!-- Wrapper for slides -->
							<div class="carousel-inner" role="listbox">
								<div class="item active">
									<img
										src="/image/pizza1.jpg"
										alt="..." />
									<div class="carousel-caption">
										<font color="blue"> <h2>Long Time Experience</h2>
										<p><h3>We learn from failure, not from success!</h3></p></font>
									</div>
								</div>
								<div class="item">
									<img
										src="/image/pizza2.jpg"
										alt="..." />
									<div class="carousel-caption">
										<font color="yellow"> <h2>Quality</h2>
										<p><h3>Quality is not an act, it is a habit.</h3></p></font>
									</div>
								</div>
								<div class="item">
									<img
										src="/image/pizza3.jpg"
										alt="..." />
									<div class="carousel-caption">
										<font color="green"> <h2>Speed</h2>
										<p><h3>Remember to take off, you need speed.</h3></p></font>
									</div>
								</div>
								...
							</div>

							<!-- Controls -->
							<a class="left carousel-control" href="#carousel-example-generic"
								role="button" data-slide="prev"> <span
								class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
								<span class="sr-only">Previous</span>
							</a> <a class="right carousel-control"
								href="#carousel-example-generic" role="button" data-slide="next">
								<span class="glyphicon glyphicon-chevron-right"
								aria-hidden="true"></span> <span class="sr-only">Next</span>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-4">
				<img src="/image/logo.png" class="img-responsive" />
			</div>
		</div>

		<hr />

		<div class="row">
			<div class="col-xs-4">
				<div clas="panel panel-default">
					<div class="panel-body">
						<img src="/image/order.jpg" class="img-responsive" />
					</div>
				</div>
			</div>
			<div class="col-xs-4">
				<div clas="panel panel-default">
					<div class="panel-body">
						<img src="/image/hour.jpg" class="img-responsive" />
					</div>
				</div>
			</div>
			<div class="col-xs-4">
				<div clas="panel panel-default">
					<div class="panel-body">
						<img src="/image/faq.png" class="img-responsive" />
					</div>
				</div>
			</div>
		</div>

		<div>
			<div class="home-headline">
				<span>Featured Foods</span>
			</div>
			<hr style="margin-top: -15px;" />
		</div>


		<div class="row">
			<div id="featured-books" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#featured-books" data-slide-to="0" class="active"></li>
					<li data-target="#featured-books" data-slide-to="1"></li>
					<li data-target="#featured-books" data-slide-to="2"></li>
				</ol>

				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<img src="/image/start.jpg" class="img-responsive" />
						<div class="carousel-caption">
							
						</div>
					</div>
					<div class="item">
						<img src="/image/main.jpg" class="img-responsive" />
						<div class="carousel-caption">
							
						</div>
					</div>
					<div class="item">
						<img src="/image/main.jpg" class="img-responsive" />
						<div class="carousel-caption">
							
						</div>
					</div>
				</div>

				<!-- Controls -->
				<a class="left carousel-control" href="##featured-books"
					role="button" data-slide="prev"> <span
					class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a> <a class="right carousel-control" href="##featured-books"
					role="button" data-slide="next"> <span
					class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>

	</div>
	<!-- end of container -->


	<div th:replace="common/header :: body-bottom-scripts" />
</body>
</html>
