<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="msapplication-tap-highlight" content="no">
  <title>Welcome To Online Food Ordering System</title>

  <!-- Favicons-->
  <link rel="icon" th:href="@{/images/favicon/favicon-32x32.png}" sizes="32x32">
  <!-- Favicons-->
  <link rel="apple-touch-icon-precomposed" href="@{/images/favicon/apple-touch-icon-152x152.png}">
  <!-- For iPhone -->
  <meta name="msapplication-TileColor" content="#00bcd4">
  <meta name="msapplication-TileImage" th:content="@{/images/favicon/mstile-144x144.png}">
  <!-- For Windows Phone -->


  <!-- CORE CSS-->
  
  <link th:href="@{/css/materialize.min.css}" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="css/style.min.css" type="text/css" rel="stylesheet" media="screen,projection">
    <!-- Custome CSS-->    
    <link th:href="@{/css/custom/custom.min.css}" type="text/css" rel="stylesheet" media="screen,projection">
  <link th:href="@{/css/layouts/page-center.css}" type="text/css" rel="stylesheet" media="screen,projection">

  <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
  <link th:href="@{/js/plugins/perfect-scrollbar/perfect-scrollbar.css}" type="text/css" rel="stylesheet" media="screen,projection">
  
</head>

<body class="cyan">
<div id="loader-wrapper">
      <div id="loader"></div>        
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
  </div>
  <div id="login-page" class="row">
    <div class="col s12 z-depth-4 card-panel">
    <form th:action="@{/login}" th:method="POST" class="login-form" id="form">
    <div class="row">
          <div class="input-field col s12 center">
            <p class="center login-form-text">Welcome To Online Food Ordering System</p>
            <form th:action="@{/login}" th:method="GET">
			<button class="btn btn-md btn-warning btn-block" type="Submit">PROCEED!</button>
		</form>
          </div>
        </div>
         <!-- jQuery Library -->
  <script type="text/javascript" th:src="@{/js/plugins/jquery-1.11.2.min.js}"></script>
  <!--materialize js-->
  <script type="text/javascript" th:src="@{/js/materialize.min.js}"></script>
  <!--scrollbar-->
  <script type="text/javascript" th:src="@{/js/plugins/perfect-scrollbar/perfect-scrollbar.min.js}"></script>

      <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" th:src="@{/js/plugins.min.js}"></script>
    <!--custom-script.js - Add your own theme custom JS-->
    <script type="text/javascript" th:src="@{/js/custom-script.js}"></script>
        
</body>
</html>